<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yingzhou.myfirstapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".HomePageListActivity"
            android:label="@string/title_homepage_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePageDetailActivity"
            android:label="@string/title_homepage_detail"
            android:parentActivityName=".HomePageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yingzhou.myfirstapp.HomePageListActivity" />
        </activity>
        <activity
            android:name=".FirstPageActivity"
            android:label="@string/title_activity_first_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductListActivity"
            android:label="@string/title_product_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName=".ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yingzhou.myfirstapp.ProductListActivity" />
        </activity>
    </application>

</manifest>